<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_skeleton">
  <description>Default PHP CodeSniffer configuration for Drupal.</description>
  <file>web/modules/custom</file>
  <file>web/themes/custom</file>
  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <!--Exclude third party code.-->
  <exclude-pattern>vendor/*</exclude-pattern>
  <!--Exclude folders used by common frontend tools. These folders match the file_scan_ignore_directories setting in default.settings.php-->
  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>*/bower_components/*</exclude-pattern>

  <rule ref="Drupal" />
  <rule ref="DrupalPractice" />
</ruleset>
